# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.userprefs
*.sln.docstates
.idea/
.vs/

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Nn]upkg/
[Gg]enerated/